@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 21,35,49;
      /* COLORS FOR TEXT GRADIENT */
      --bg: rgb(38 38 38 / 0);
      --clr-1: #78ddff;
      --clr-2: #33ff8c;
      --clr-3: #674ea7;
      --clr-4: #e54cff;
    
      --blur: 1rem;
      --fs: clamp(3rem, 8vw, 7rem);
      --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 21,35,49;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    180deg,
      transparent,
      rgb(var(--background-end-rgb)) 0%,
      rgb(var(--background-start-rgb)) 95.32%

    );
}






#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
}

#cards:hover > .card::after {
  opacity: 1;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  /* cursor: pointer; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}
