
  @keyframes marqueeOne {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }
  @keyframes marqueeTwo {
    0% {
      transform: translate3d(var(--move-final), 0, 0);
    }
    100% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
  }

  
   .container {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--resume-text-color);

    width: 100%;
    height: 100%;
    display: flex;
      flex-direction: column;
      justify-content:center;
    place-items: center;
  }
   .marquee {
    position: relative;
    overflow: hidden;
    --offset: 50vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
  }
   .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    white-space: nowrap;
  }
   .marquee__inner span {
    font-size: 1rem;
    padding: 0 2vw;
    text-transform: uppercase;
  }
   .marquee .first {
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marqueeOne 200s linear infinite;
  }




   .marquee .second {
    transform: translate3d(var(--final-initial), 0, 0);
    animation: marqueeTwo 300s linear infinite;
  }
  